* {box-sizing: border-box}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.boxing{
  width: 150%;
}

.container {
  position: relative;
  left: 35%;
  width: 30%;
  padding: 16px;
}

input[type=text], input[type=password], input[type=email]  {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password], input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  position: relative;
  left: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  text-decoration:none;
  color: #006fe5; 
  font-size: 1em;
  font-weight: bold;
  padding: 20px 0px;
  text-transform: uppercase;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
a:hover {
  color: #ffa000; /* Меняем цвет текста */
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
      text-shadow: 2px 2px 2px #000;
}

.signin {
  text-align: center;
}

/*signin*/
@charset "utf-8";

html { 
  background: url(../images/TebPWZ6.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	color:rgb(255, 38, 0);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  font-family: 'Open Sans', sans-serif;
	font-size: 16px;

}


 h1 {
  margin: 15px 0;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
}

fieldset {
	border: none;
	padding: 20px;
	position: relative;
}

/* } 
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}

.vladmaxi-top a:hover{
	background: #fff;
}
.vladmaxi-top span.right{
	float: right;
}
.vladmaxi-top span.right a{
	float: left;
	display: block;
}  */
